<!DOCTYPE html>
<html>
<head>
    <title>Inscribirse a un Curso</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        #message {
            color: #ff0000; /* Color rojo */
            transition: color 0.5s ease; /* Transición de color con duración de 0.5 segundos */
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- ... -->
    </nav>

    <!-- Contenido de Inscribirse a un Curso -->
    <div id="inscribirse_curso" style="display: block;">
        <div class="container">
            <h1>Inscribirse a un Curso</h1>
            <div id="message" style="text-align: center; margin-top: 20px;">
                {% if message %}
                {{ message }}
                {% endif %}
            </div>
            <script href="/static/js/scriptmessage.js">
            </script>
            <form id="inscripcionCursoForm" action="/getformfieldsinscription" method="post">
                <div class="form-group">
                    <label for="course_Id">ID del Curso</label>
                    <input type="text" class="form-control" id="course_Id" name="course_id" required>
                </div>
                <div class="form-group">
                    <label for="student_Id">Id del estudiante</label>
                    <input type="text" class="form-control" id="student_Id" name="student_id" required>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña del Curso</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Inscribirse a un Curso</button>
            </form>
        </div>
    </div>

    <!-- Script para manejar la inscripción al curso -->
    <script>
        document.getElementById('inscripcionCursoForm').addEventListener('submit', function(event) {

            // Obtener los valores del formulario
            const course_Id = document.getElementById('course_Id').value;
            const student_Id = document.getElementById('student_Id').value;
            const password = document.getElementById('password').value;

            // Aquí puedes implementar la lógica para inscribir al usuario en el curso
            // Por ejemplo, enviar una solicitud POST a un endpoint para inscribirse

            // Simulación de solicitud POST (debes reemplazar esto con tu lógica real)
            console.log('Inscribiéndose en el curso con ID del Curso:', course_Id, 'y ID del Estudiante:', student_Id, 'y contraseña:', '*****');
        });
    </script>
</body>
</html>
